trigger:
  - main

pool:
  vmImage: 'macOS-14'

steps:
- task: UseDotNet@2
  inputs:
    version: '8.0.x'

- script: |
    dotnet workload install maui maui-maccatalyst
  displayName: 'Install MAUI'

- script: |
    dotnet publish -f net8.0-maccatalyst -c Release \
      -p:EnableCodeSigning=false \
      -p:CreatePackage=true \
      -o ./output
  displayName: 'Build Test App'

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: './output'
    artifactName: 'DragDropTest'